#landing-page .landing-content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-top: 1rem;

    padding: 20px;
}
#landing-page .landing-content .link{
    text-decoration: none;
    color: #FFF;
    
}

#landing-page .landing-content .container{
    text-decoration: none;

    min-width: 15rem;
    max-width: 15rem;
    min-height: 10rem;
    max-height: 10rem;
    padding: 10px;

    border-radius: 20px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    transition: all 0.2s;
    background: var(--color-black-purple-secondary);
}

#landing-page .landing-content .container:hover{
    color: var(--color-secondary);
    border: solid 3px #FFF;
}

#landing-page .landing-content .container h2{
    display: flex;
    justify-content: center;
}

#landing-page .landing-content .container .logo{
    display: flex;
    align-self: center;

    margin: auto;
}

@media (max-width: 1020px) {
    
    #landing-page .landing-content{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    #landing-page .landing-content .container{
        min-width: 16rem;
        max-width: 16rem;
        min-height: 5rem;
        max-height: 5rem;
        margin-bottom: 15px;
        padding: 10px;
    }

    #landing-page .landing-content .container h2{
        font-size: 1rem;
        margin-bottom: 10px;
    }

}