#header .primary-area .profile-photo{
    display: flex;
    justify-content: center;
}
#header .primary-area .profile-photo img{
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;

    border-radius: 100%;

    transition: all 0.2s;
}

#header .primary-area .profile-photo img:hover{
    border: solid 2px var(--color-secondary);
}

#header .primary-area .landing-text{
    text-align: center;
}

#header .primary-area .landing-text h1{
    font-size: 2rem;
    font-weight: 500;
    margin: 10px 0;
}