#navbar .navbar-brand .bars-button,
#navbar .navbar-brand .navbar-burger- .itens-menu .arrow-button{
    position: absolute;
    transition: all 0.5s;
    cursor: pointer;
}

#navbar .navbar-brand .navbar-burger-active .itens-menu .arrow-button{
    cursor: pointer;
}

/* #navbar .navbar-brand .navbar-burger- */
#navbar .navbar-brand .navbar-burger-active{
    
    position: absolute;
    top: 0;
    left: 0;

    background-color: #00000091;
    width: 50%;
    height: 100%;

    margin: 0;
    padding: 10px;

    transition: all 0.4s;
}

#navbar .navbar-brand .navbar-burger-active span{
    color: white;
}

@media(min-width: 768px){
    #navbar .navbar-brand .navbar-burger-active{
        width: 32%
    }
}

@media(min-width: 1024px){
    #navbar .navbar-brand .navbar-burger-active{
        width: 15.5%
    }
}

@media (min-width: 2560px){
    
}
